@charset "UTF-8";

#container {
  padding-top: 8%;
  margin: 0 auto;
  min-width: 50%;
  max-width: 50%;
  height: 100%;
  margin-bottom: 5%;
}

#container #board-content {
	border: 1px solid tomato;
	margin: 5%;
	border-radius: 10px;
}

#container #board {
  border: 5px double gray;
  border-radius: 20px;
}
#container #borad-subject {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid darkgray;
  padding: 10px;
  padding-left: 20px;
  color: tomato;
}
#container #borad-subject-value {
  border-radius: 4px;
  padding-left: 10px;
  width: 90%;
  height: 35px;
}
#container #borad-writer {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid darkgray;
  padding: 10px;
  padding-left: 20px;
    
}
#container #borad-writer-value {
  border-radius: 4px;
  padding-left: 10px;
  width: 90%;
  height: 35px;
}
#container #borad-create-date {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid darkgray;
  padding: 10px;
  padding-left: 20px;
}
#container #borad-create-date-value {
  border-radius: 4px;
  padding-left: 10px;
  width: 90%;
  height: 35px;
}
#container #borad-deep-content {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
}
#container #borad-deep-content-value {
  border-radius: 4px;
  padding-left: 10px;
  width: 90%;
  height: 50%;
}

#container #list-btn {
  float: right;
  width: 8%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(232, 69, 69);
  color: white;
  margin-left: 1%;
  margin-top: 1%;
}
#container #submit-btn {
  float: left;
  width: 8%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(232, 69, 69);
  color: white;
  margin-left: 74%;
  margin-top: 1%;
}
#container #reset-btn {
  float: right;
  width: 8%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(232, 69, 69);
  color: white;
  margin-left: 1%;
  margin-top: 1%;
}
#container #list-btn:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #submit-btn:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #reset-btn:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #board-reply{
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 2%;
}
#container #board-reply textarea{
	width: 91%; 
	height: 35px;
	border: 1px solid tomato;
	border-radius: 4px;
	resize: both;
	padding: 4px;
}
#container #reply-btn {
  float: right;
  width: 8%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(232, 69, 69);
  color: white;
}
#container #reply-btn:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #board-reply-list {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	padding-top: 2%;
}
#container #board-reply-list-table{
	width: 100%;
  	border-collapse: collapse;
  	border-radius: 4px;
  	border-style: hidden;
  	box-shadow: 0 0 0 1px tomato;
}
#container #reply-update{
	background-color: rgb(232, 69, 69);
     color: white;
     padding: 5px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 4px;
}
#container #reply-update:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #reply-update-bean{
     color: white;
     padding: 5px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 4px;
     margin-right: 26%;
}
#container #reply-delete{
	background-color: rgb(232, 69, 69);
     color: white;
     padding: 5px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 4px;
}
#container #reply-delete:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #replyBoardContent{
	width: 100%;
	padding: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
}
#container #reply-update-btn{
	width: 41%;
	height: 35px;
	background: rgb(232, 69, 69);
	color: white;
	border: none;
	border-radius: 4px;
	margin-left: 7%;
}
#container #reply-update-btn:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}
#container #update-close-btn{
	width: 41%;
	height: 35px;
	background: rgb(232, 69, 69);
	color: white;
	border: none;
	border-radius: 4px;
}
#container #update-close-btn:hover {
  color: var(--contrast-color);
  background: rgba(255,99,71, 0.85);
}