@charset "UTF-8";

#container{
    padding-bottom: 30px;
    margin: 0 auto;
    padding-top: 100px;
    width: 70%;
    height : 100%;

}
#container a{
    text-decoration: none;
    color: black;
}

.login-div{
    margin: 0 auto;
    border: 1px solid black;
    width: 70%;
    height: 100%;
}
#top-section, #nav-section, #mid-section, #bottom-section, .login-div {
    border-radius: 10px;
    
}
#top-section {
    padding-top: 80px;
    padding-bottom: 70px;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body{
    display: flex;
    justify-content: space-evenly;
}
#step1, #step2, #step3{
    width: 20%;
    text-align: center;
}   
.step-title {
    font-weight: bold;
    color: #777;
    width: 100%;
}

.main-container1{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 70px;

}
.main-container2{
    padding-bottom: 50px;
}
.main-container3{
    padding-bottom: 30px;
}
.main-box {
    display: flex;
    justify-content: center;
}
.main-box>p {
    
    font-size: 2em;
    float: left;
    font-weight: bold;
    margin-top: 130px;
}
#sign-form {
    width: 600px;
    margin-left: 400px;
    text-align: left;
}
#check-all {
    float: left;
    width: 20px;
    height: 20px;

}
#all-check-box {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
}
#all-check-box span{
    margin-left: 3px;
}
#terms-box {
    width: 100%;
    margin-left: 30px;
}
.c-box{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.c-box p{
    margin-left: 3px;
}
.check-box{
    margin-bottom: 20px;
}
.check-button {
    float: left;

}
.check-button>p {
    float: left;
}
textarea {
    width: 400px;
    height: 80px;

    background-color: #ddd;
}
.btn-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;

}
.next-btn{
    color: var(--contrast-color);
    background-color: var(--primary-color);
    font-size: 14px;
    padding: 8px 26px;
    margin: 0;
    border-radius: 4px;
    transition: 0.3s;
    border: none;
}
.next-btn:hover, #post-btn:hover, #certification-btn:hover{
    color: var(--contrast-color);
    background: rgba(var(--primary-color-rgb), 0.85);
}

#main-con-btn-box{
    width: 80%;
}

.register-box{
    width: 70%;
    margin: 0 auto;
}
#register-form{
	margin-left: 100px;
}
#img-div{
	margin-left: 165px;
}
.profile-image-container {
    display: inline-block;
    position: relative;
}

#profile-image-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

#profile-image-preview[src="default-profile.png"] {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
}
.upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#profile-image {
    display: none;
}

.profile-label{
	margin-top: 10px;
    margin-bottom: 20px;
}


.user-info-box{
    width: 80%;
    height : 100px;
    margin: 0 auto;
    display: flex;
	flex-direction: column;
}
.input-user-info{
    width: 350px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error{
	font-size: smaller;
    margin-left: 30px;
    color: red;
    font-weight: bold;
}
.success{
	font-size: smaller;
    margin-left: 30px;
    color: green;
    font-weight: bold;
}

#user-info-nickname, #user-info-id, #user-info-email-check, #user-info-address {
    position: relative;
}
#post-btn {
    color: var(--contrast-color);
    background-color: var(--primary-color);
	font-size: small;
	position: absolute;
    width: 70px;
    height: 25px;
    top: 0;
    bottom: 86px;
    left: 279px;
    margin: auto 0;
    border-radius: 3px;
    border: none;
}
#certification-btn{
    color: var(--contrast-color);
    background-color: var(--primary-color);
	font-size: small;
    position: absolute;
    width: 95px;
    height: 25px;
    top: 0;
    bottom: 85px;
    left: 254px;
    margin: auto 0;
    border-radius: 3px;
    border: none;
}
#check-certification-num-btn{
	position: absolute;
    width: 90px;
    height: 35px;
    top: 1px;
    bottom: 0;
    left: 255px;
    margin: auto 0;
    border-radius: 3px;
    border: none;
    color: var(--contrast-color);
    background-color: var(--primary-color);
}
#user-info-nickname button, #user-info-id button, #user-info-email-check button{
    position: absolute;
    width: 90px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 426px;
    margin: auto 0;
    border-radius: 3px;
    border: none;
    color: var(--contrast-color);
    background-color: var(--primary-color);
}
/* #user-info-nickname button:hover, #user-info-id button:hover, #user-info-email-check button:hover{ */
/*     background: rgba(var(--primary-color-rgb), 0.85); */
/* } */

.signup-complete-box{
    width: 70%;
    margin: 0 auto;
}
.congrats-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.congrats-img{
    width: 200px;
    height: 200px;
}
.signup-content-box{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
#p1{
    font-size: 1.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#p1 b, #p2 b {
    color: var(--primary-color);
}
.btn1{
    padding: 24px 78px;
    border-radius: 4px;
    font-size: 14px;
    
}

#move-home-btn{
    background-color: rgb(221, 221, 221);
    font-weight: bold;
}
#move-home-btn:hover{
    background-color: rgba(221,221,221, 0.85);
}

#move-login-btn{
    color: var(--contrast-color);
    background-color: var(--primary-color);
}
#move-login-btn:hover{
    background: rgba(var(--primary-color-rgb), 0.85);
}

.signup-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#bottom-section{
    padding-bottom: 70px;
}


/* 각 단계별 색상 */
#step1.active .step-title {
    color: var(--primary-color);
}

#step2.active .step-title {
    color: var(--primary-color);
}

#step3.active .step-title {
    color: var(--primary-color);
}
