<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdoptMapper">
	<resultMap id="AdoptResultMap" type="Adopt">
	    <result property="userNickName" column="USER_NICKNAME"/>
	</resultMap>
	
	<!-- 게시글 등록 -->
	<insert id="insertAdopt">
	    INSERT INTO ADOPT_TBL 
	    (ADOPT_NO, USER_ID, ADOPT_TITLE, ADOPT_CONTENT, ADOPT_CREATE_DATE, ADOPT_UPDATE_DATE, ADOPT_DATE, VIEW_COUNT, GIVEUP_DATE, ADOPT_TYPE, ADOPT_FILE_NAME, ADOPT_FILE_RENAME, ADOPT_FILE_PATH)
	    VALUES 
	    (SEQ_ADOPT_NO.NEXTVAL, #{userId}, #{adoptTitle}, #{adoptContent}, DEFAULT, DEFAULT, #{adoptDate}, DEFAULT, #{giveUpDate}, #{adoptType}, #{adoptFileName}, #{adoptFileRename}, #{adoptFilePath})
	</insert>

	
	<!-- 게시글 수정 -->
	<update id="updateAdopt">
		UPDATE ADOPT_TBL
	    SET USER_ID = #{userId},
	        ADOPT_TITLE = #{adoptTitle},
	        ADOPT_CONTENT = #{adoptContent},
	        ADOPT_UPDATE_DATE = DEFAULT,
	        ADOPT_DATE = #{adoptDate},
	        GIVEUP_DATE = #{giveUpDate},
	        ADOPT_TYPE = #{adoptType},
	        ADOPT_FILE_NAME = #{adoptFileName},
	        ADOPT_FILE_RENAME = #{adoptFileRename},
	        ADOPT_FILE_PATH = #{adoptFilePath}
	    WHERE ADOPT_NO = #{adoptNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<select id="deleteAdopt">
		DELETE FROM ADOPT_TBL WHERE ADOPT_NO = #{adoptNo}
	</select>
	
	<!-- 게시글 리스트 조회 -->
	<select id="selectAdoptList" resultType="Adopt" resultMap="AdoptResultMap">
		SELECT ADOPT_TBL.*, USER_TBL.USER_NICKNAME
	    FROM ADOPT_TBL
	    LEFT JOIN USER_TBL ON ADOPT_TBL.USER_ID = USER_TBL.USER_ID
	    <if test="adoptType == 'all'" />
	    <if test="adoptType == 'adopt'">
			WHERE ADOPT_TYPE = 'adopt'
		</if>
		<if test="adoptType == 'care'">
			WHERE ADOPT_TYPE = 'care'
		</if>
	    ORDER BY ADOPT_TBL.ADOPT_NO DESC
	</select>
	
	<!-- 게시글 상세조회 -->
	<select id="selectOneByAdopt" resultType="Adopt">
		SELECT * FROM ADOPT_TBL WHERE ADOPT_NO = #{adoptNo}
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="increaseViewCount">
		UPDATE ADOPT_TBL SET VIEW_COUNT = VIEW_COUNT + 1 WHERE ADOPT_NO = #{adoptNo}
	</update>
	
	<!-- 전체 게시글 갯수 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM ADOPT_TBL
		<if test="adoptType == 'all'" />
	    <if test="adoptType == 'adopt'">
			WHERE ADOPT_TYPE = 'adopt'
		</if>
		<if test="adoptType == 'care'">
			WHERE ADOPT_TYPE = 'care'
		</if>
	</select>
	
	<!-- 게시글 키워드 검색 -->
	<select id="selectAdoptByKeyword" resultType="Adopt">
	    SELECT ADOPT_TBL.*, USER_TBL.USER_NICKNAME
	    FROM ADOPT_TBL
	    LEFT JOIN USER_TBL ON ADOPT_TBL.USER_ID = USER_TBL.USER_ID 
	    <if test="searchCondition == 'all'">
	        <where>
	            <if test="adoptType == 'all' or adoptType == ''">
	                AND (USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' OR ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%')
	            </if>
	            <if test="adoptType == 'adopt'">
	                AND (USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' OR ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%') AND ADOPT_TYPE = 'adopt'
	            </if>
	            <if test="adoptType == 'care'">
	                AND (USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' OR ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%') AND ADOPT_TYPE = 'care'
	            </if>
	        </where>
	    </if>
	    <if test="searchCondition == 'writer'">
	        <where>
	            <if test="adoptType == 'all' or adoptType == ''">
	                AND USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%'
	            </if>
	            <if test="adoptType == 'adopt'">
	                AND USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'adopt'
	            </if>
	            <if test="adoptType == 'care'">
	                AND USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'care'
	            </if>
	        </where>
	    </if>
	    <if test="searchCondition == 'title'">
	        <where>
	            <if test="adoptType == 'all' or adoptType == ''">
	                AND ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%'
	            </if>
	            <if test="adoptType == 'adopt'">
	                AND ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'adopt'
	            </if>
	            <if test="adoptType == 'care'">
	                AND ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'care'
	            </if>
	        </where>
	    </if>
	    ORDER BY ADOPT_TBL.ADOPT_NO DESC
	</select>


	
	<!-- 게시글 키워드 검색 개수 -->
	<select id="getSelectAdoptByKeywordCount" resultType="_int">
	    SELECT COUNT(*) FROM ADOPT_TBL
	    LEFT JOIN USER_TBL ON ADOPT_TBL.USER_ID = USER_TBL.USER_ID 
	    <if test="searchCondition == 'all'">
	        <where>
	            <if test="adoptType == 'all' or adoptType == ''">
	                AND (USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' OR ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%')
	            </if>
	            <if test="adoptType == 'adopt'">
	                AND (USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' OR ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%') AND ADOPT_TYPE = 'adopt'
	            </if>
	            <if test="adoptType == 'care'">
	                AND (USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' OR ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%') AND ADOPT_TYPE = 'care'
	            </if>
	        </where>
	    </if>
	    <if test="searchCondition == 'writer'">
	        <where>
	            <if test="adoptType == 'all' or adoptType == ''">
	                AND USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%'
	            </if>
	            <if test="adoptType == 'adopt'">
	                AND USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'adopt'
	            </if>
	            <if test="adoptType == 'care'">
	                AND USER_TBL.USER_NICKNAME LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'care'
	            </if>
	        </where>
	    </if>
	    <if test="searchCondition == 'title'">
	        <where>
	            <if test="adoptType == 'all' or adoptType == ''">
	                AND ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%'
	            </if>
	            <if test="adoptType == 'adopt'">
	                AND ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'adopt'
	            </if>
	            <if test="adoptType == 'care'">
	                AND ADOPT_TBL.ADOPT_TITLE LIKE '%'||#{searchKeyword}||'%' AND ADOPT_TYPE = 'care'
	            </if>
	        </where>
	    </if>
	    ORDER BY ADOPT_TBL.ADOPT_NO DESC
	</select>

	
</mapper>