<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AppMapper">
	
	<!-- 지원서 목록 조회 -->
	<select id="appAllList" resultType="App">
		SELECT * FROM APP_TBL ORDER BY APP_NO DESC
	</select>
	
	<!-- 게시글 전체 리스트 개수 -->
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM APP_TBL
	</select>
	
	<!-- 지원서 제출 -->
	<insert id="insertApplication">
		INSERT INTO APP_TBL (APP_NO, USER_ID, APP_DOG_HAD, APP_EXP_HAD, APP_QUESTION_ONE, APP_QUESTION_TWO, APP_QUESTION_THREE, APP_CONTENT, APP_START_DATE, APP_END_DATE, APP_DOG_ADOPT, APP_STATUS, DOG_NO)
		VALUES (
		    SEQ_APP_NO.NEXTVAL, 
		    #{userId}, 
		    #{appDogHad}, 
		    #{appExpHad}, 
		    #{appQuestionOne},  
		    #{appQuestionTwo}, 
		    #{appQuestionThree},
		    #{appContent}, 
		    #{appStartDate}, 
		    #{appEndDate}, 
		    <choose>
		        <when test="appDogAdopt == 'adopt'"> 'Y' </when>
		        <otherwise> 'N' </otherwise>
		    </choose>,
		    DEFAULT,
		    #{dogNo}
		)
	</insert>
	
	<!-- 지원서 상세 조회 -->
	<select id="selectAppByNo" resultType="App">
		SELECT	* 
		FROM 	APP_TBL 
		WHERE	APP_NO = #{appNo}
	</select>
	
	<!-- 이승현 왔다감 -->
	<!-- 마이페이지 작성한 입양신청서 리스트 출력 -->
	<select id="selectAppListById" resultType="App">
		SELECT APP_TBL.*, USER_TBL.* FROM APP_TBL
		LEFT JOIN USER_TBL ON APP_TBL.USER_ID = USER_TBL.USER_ID
		LEFT JOIN DOG_TBL ON APP_TBL.DOG_NO = DOG_TBL.DOG_NO
		WHERE USER_TBL.USER_ID = #{userId}
	</select>
	
	<!-- 입양지원서 수락하면 데이터 넣기 -->
	<update id="allowAdopt">
		UPDATE DOG_TBL
		SET DOG_P_STARTDATE = DEFAULT, 
		    DOG_P_ENDDATE = DEFAULT,
		    DOG_ADOPT = #{appDogAdopt},
		    DOG_DEATHDATE = NULL
		WHERE DOG_NO = #{dogNo}
	</update>
	
	<!-- 돌봄지원서 수락하면 데이터 넣기 -->
	<update id="allowCare">
		UPDATE DOG_TBL
		SET DOG_P_STARTDATE = #{appStartDate}, 
		    DOG_P_ENDDATE = #{appEndDate},
		    DOG_ADOPT = #{appDogAdopt},
		    DOG_DEATHDATE = NULL
		WHERE DOG_NO = #{dogNo}
	</update>
	
	<!-- 지원서 수락하면 지원서 상태 변경 -->
	<update id="updateStatus">
		UPDATE APP_TBL
		SET APP_STATUS = #{appStatus }
		WHERE APP_NO = #{appNo }
	</update>
	
	
</mapper>
