<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AppMapper">

	<select id="appAllList" resultType="App">
		SELECT * FROM APP_TBL ORDER BY APP_NO DESC
	</select>
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM APP_TBL
	</select>
	
	<insert id="insertApplication">
		INSERT INTO APP_TBL (APP_NO, USER_ID, APP_DOG_HAD, APP_EXP_HAD, APP_QUESTION_ONE, APP_QUESTION_TWO, APP_QUESTION_THREE, APP_CONTENT, APP_START_DATE, APP_END_DATE, APP_DOG_ADOPT, APP_STATUS)
		VALUES (
		    SEQ_APP_NO.NEXTVAL, 
		    '사용자', 
		    #{appDogHad}, 
		    #{appExpHad}, 
		    #{appQuestionOne},  
		    #{appQuestionTwo}, 
		    #{appQuestionThree},
		    #{appContent}, 
		    #{appStartDate}, 
		    TO_DATE(#{appEndDate}, 'YYYY-MM-DD'), 
		    <choose>
		        <when test="appDogAdopt == 'adopt'"> 'Y' </when>
		        <otherwise> 'N' </otherwise>
		    </choose>,
		    DEFAULT
		)
	</insert>
	
	
	<select id="selectAppByNo" resultType="App">
		SELECT	* 
		FROM 	APP_TBL 
		WHERE	APP_NO = #{appNo}
	</select>
	
	<!-- 기진 코드 -->
	<!-- <select id="appAllList" resultType="App">
		SELECT * FROM APP_TBL ORDER BY APP_NO DESC
	</select> -->
	<!-- 기진 코드 -->
	
</mapper>
