<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CalendarMapper">

	<!-- 일정 등록 -->
	<insert id="insertEvent">
		INSERT INTO SCHEDULE_TBL VALUES (SEQ_SCHEDULE_NO.NEXTVAL, '1', 'khuser01', #{schStartDate}, #{schEndDate}, #{schOption}, #{schTitle}, #{schContent}, DEFAULT)
	</insert>
	
	<!-- 전체 일정 리스트 가져오기 -->
	<select id="getAllEventList" resultType="Calendar">
		SELECT * FROM SCHEDULE_TBL ORDER BY SCH_NO DESC
	</select>
	
	<!-- 이름, 제목, 시작일, 종료일로 일정 가져오기 -->
	<select id="findEventByUserIdAndTitleAndStartDateAndEndDate" resultType="Calendar" parameterType="java.util.Map">
        SELECT * FROM SCHEDULE_TBL WHERE USER_ID = 'khuser01' AND SCH_TITLE = #{title} AND SCH_START_DATE = #{startDate} AND SCH_END_DATE = #{endDate}
    </select>
    
    <!-- 날짜로 일정 가져오기 -->
    <select id="getEventListByDate" resultType="Calendar" parameterType="java.util.Map">
	    <![CDATA[
		    SELECT * FROM SCHEDULE_TBL
		    WHERE USER_ID = 'khuser01'
		      AND ((SCH_START_DATE <= #{date} AND SCH_END_DATE >= #{date})
           OR (SCH_START_DATE <= #{date} AND SCH_END_DATE >= #{date})
           OR (SCH_START_DATE >= #{date} AND SCH_END_DATE <= #{date}))
	    ]]>
	</select>

    
    <!-- 일정 삭제 -->
    <delete id="deleteEvent" parameterType="int">
        DELETE FROM SCHEDULE_TBL WHERE SCH_NO = #{schNo}
    </delete>
    
    <update id="updateEvent" parameterType="java.util.Map">
	    UPDATE SCHEDULE_TBL
	    SET
	        SCH_START_DATE = #{startDate},
	        SCH_END_DATE = #{endDate}
	    WHERE
	        SCH_NO = #{schNo} AND SCH_TITLE = #{title} AND USER_ID = 'khuser01'
	</update>
	

	
</mapper>