<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DogMapper">

	<insert id="insertDog">
		INSERT INTO DOG_TBL 
		VALUES	(SEQ_DOG_NO.NEXTVAL, #{dogName}, #{dogKind}, #{dogAgency}, #{dogAge}, #{dogGender}, 
		#{dogRLocation}, #{dogWeight}, #{dogPersonality}, #{dogHealth}, #{dogRDate}, #{dogDeathDate}, 
		DEFAULT, DEFAULT, #{dogInfo}, #{dogRegion}, DEFAULT, DEFAULT, DEFAULT )	
	</insert>	
	<insert id="insertDogFiles">
	    INSERT INTO DOG_FILE_TBL (REF_DOG_NO, DOG_FILE_ORDER, DOG_FILE_NAME, DOG_FILE_RENAME, DOG_FILE_PATH)
	    VALUES (
	        #{refDogNo},
	        #{dogFileOrder},
	        #{dogFileName},
	        #{dogFileRename},
	        #{dogFilePath}
	    )
	</insert>	
	<insert id="insertReply">
		INSERT INTO DOG_REPLY_TBL VALUES(SEQ_DOG_REPLY_NO.NEXTVAL,#{refDogNo},#{dogReplyWriter},#{dogReplyContent},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<update id="updateReply">
		UPDATE DOG_REPLY_TBL SET DOG_REPLY_CONTENT = #{dogReplyContent},DOG_REPLY_UPDATE_DATE = DEFAULT WHERE DOG_REPLY_NO = #{dogReplyNo} 
	</update>
	<update id="modifyDog">
		UPDATE DOG_TBL SET DOG_NAME = #{dogName}, DOG_KIND = #{dogKind}, DOG_AGENCY = #{dogAgency}, DOG_AGE = #{dogAge}, DOG_GENDER = #{dogGender}
		, DOG_RLOCATION = #{dogRLocation}, DOG_WEIGHT = #{dogWeight}, DOG_PERSONALITY = #{dogPersonality}, DOG_HEALTH = #{dogHealth}
		, DOG_RDATE = #{dogRDate}, DOG_DEATHDATE = #{dogDeathDate}, DOG_INFO = #{dogInfo}, DOG_REGION = #{dogRegion}, DOG_UPDATE = DEFAULT WHERE DOG_NO = #{dogNo} 
	</update>	
	<delete id="deleteReply">
		DELETE FROM DOG_REPLY_TBL WHERE DOG_REPLY_NO = #{dogReplyNo}
	</delete>
	<delete id="deleteDogFileByDogNoAndOrder">
		DELETE FROM DOG_FILE_TBL WHERE REF_DOG_NO = #{dogFile.refDogNo} AND DOG_FILE_ORDER = #{dogFile.dogFileOrder}
	</delete>
	<delete id="deleteDogFileByFilePath">
		DELETE FROM DOG_FILE_TBL WHERE DOG_FILE_PATH = #{toDeleteFilePath}
	</delete>
	<delete id="deleteDog">
		DELETE FROM DOG_TBL WHERE DOG_NO = #{dogNo}
	</delete>
	<select id="selectDogNoSeq" resultType="_int">
		SELECT SEQ_DOG_NO.CURRVAL FROM DUAL
	</select>	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM DOG_TBL
	</select>
	<select id="getListCountByRegion" resultType="_int">
		SELECT COUNT(*) FROM DOG_TBL WHERE DOG_REGION = #{region}
	</select>
	<select id="getListCountBySearch" resultType="_int">
		SELECT COUNT(*) FROM DOG_TBL WHERE DOG_NAME LIKE '%'||#{searchInput}||'%' 
	</select>
	<select id="selectAllDog" resultType="Dog">
		SELECT * FROM DOG_TBL ORDER BY DOG_NO ASC
	</select>
	<select id="selectDogsByRegion" resultType="Dog">
		SELECT * FROM DOG_TBL WHERE DOG_REGION = #{region}
	</select>
	<select id="selectDogsBySearch" resultType="Dog">
		SELECT * FROM DOG_TBL WHERE DOG_NAME LIKE '%'||#{searchInput}||'%'
	</select>
	<select id="selectFirstDogFile" resultType="DogFile">
		SELECT * FROM DOG_FILE_TBL WHERE DOG_FILE_ORDER = 1 
	</select>
	<select id="selectDogByDogNo" resultType="Dog">
		SELECT * FROM DOG_TBL WHERE DOG_NO = #{dogNo}	
	</select>
	<select id="selectDogFileByDogNo" resultType="DogFile">
		SELECT * FROM DOG_FILE_TBL WHERE REF_DOG_NO = #{dogNo} ORDER BY REF_DOG_NO ASC, DOG_FILE_ORDER ASC
	</select>
	
	<!-- 기진 코드 -->
	<select id="selectAllDogList" resultType="Dog">
		SELECT * FROM DOG_TBL ORDER BY DOG_NO DESC
	</select>
	<!-- 기진 코드 -->
	
	
	<select id="selectReplyList" resultType="DogReply">
		SELECT * FROM DOG_REPLY_TBL WHERE REF_DOG_NO = #{dogNo} ORDER BY DOG_REPLY_NO ASC
	</select>
</mapper>